# Dependencies
node_modules/
.pnpm-store/

# Builds
dist/
build/
.next/
out/

# Env
.env
.env.local
.env.*.local
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Test / coverage
coverage/
.nyc_output/

# TypeScript
*.tsbuildinfo

# Misc
.cache/
.turbo/

# DB backups
.backups/
